@font-face {
    font-family: "Ubuntu B";
    src: url("./fonts/Ubuntu-B.ttf");
}

@font-face {
    font-family: "Ubuntu BI";
    src: url("./fonts/Ubuntu-BI.ttf");
}

@font-face {
    font-family: "Ubuntu R";
    src: url("./fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: "Ubuntu RI";
    src: url("./fonts/Ubuntu-RI.ttf");
}

@media (max-width: 936px) {
    #outline {
        display: none !important;
        visibility: hidden !important;
    }
    #greeting {
        left: 0 !important;
        font-size: 15px;
    }
    #greeting h1 {
        font-size: 4vh !important;
    }
    #greeting h2 {
        font-size: 2vh !important;
    }
    #passbild {
        width: 170px !important;
        height: 200px !important;
    }
    #content {
        margin-left: 22em !important;
        font-size: 15px;
    }
}

@media (orientation: portrait) {
    #greeting {
        position: relative !important;
        display: flex !important;
        /* justify-content: center !important; */
        align-items: center !important;
        max-width: 100vw !important;
        width: 100% !important;
    }
    #greeting .compact {
        position: relative !important;
        display: flex !important;
        align-items: center !important;
        flex-direction: column;
    }
    #greeting h1 {
        font-size: 3em !important;
    }
    #greeting h2 {
        font-size: 2em !important;
    }
    #greeting {
        font-size: 1.2em;
    }
    #passbild {
        width: 200px !important;
        height: 200px !important;
    }
    #greeting .footer {
        visibility: hidden !important;
        display: none !important;
    }
    #content {
        font-size: 1.2em;
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
}

:root {
    --highlight-bg: #eff2ff;
    --highlight-fg: #00177d;
    --contrast: #555df0;
    --border: #d8dee4;
}

* {
    font-family: "Ubuntu R";
    font-size: 1em;
    overflow-x: hidden;
}

body {
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Ubuntu B";
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--contrast);
    /* display: inline-block; */
}

.compact {
    position: relative;
    display: inline-block;
}

.highlight {
    display: block;
    background-color: var(--highlight-bg);
    color: var(--highlight-fg);
    display: inline-block;
    padding: 1vh;
    border-radius: 1vw;
    min-width: max-content;
    /* margin-top: 1vh; */
}

#passbild {
    background-image: url("./img/passbild_neu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 250px;
    border-radius: 100%;
    box-sizing: border-box;
}

#passbild:hover {
    transition: 0.5s ease-in;
    background-size: 110%;
}

/* #greeting {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 100%;
} */

#greeting {
    position: fixed;
    height: 100%;
    left: 2.4em;
    top: 0;
    bottom: 0;
    width: 23em;
    /* border-radius: 0 1vw 1vw 0; */
    /* color: var(--contrast); */
    background-color: white;
    /* min-width: max-content; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    /* padding-left: 25px; */
    /* padding-right: 1em; */
    margin: 0;
    z-index: 900;
}

#greeting .compact {
    margin-left: 3vw;
    height: 100%;
}

#greeting .footer {
    position: absolute;
    bottom: 3em;
}

#info {
    margin-top: 1vh;
}

.identifier {
    font-family: "Ubuntu B";
    margin-left: 1vw;
    text-align: left;
    width: 6em;
    min-width: max-content;
}

.value {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 0.5vh; */
}

hr {
    color: var(--contrast);
    border-color: var(--border);
    border-style: solid;
    border-width: 0.2vh;
}

hr.contrast {
    border-color: var(--contrast);
    margin-top: 1em;
}

.floating {
    margin-left: 1vw;
    margin-right: 2vw;
}

ion-icon {
    height: 3vh;
}

/* #navigator {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3em;
} */

#navigator {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3em;
    background-color: white;
    z-index: 100;
}

.goto {
    font-family: "Ubuntu B";
    border-radius: 0;
    /* border: 0.3vh solid var(--border); */
    /* padding: 1vh 1vw; */
    /* padding-right: 1vw; */
    /* border-right: 0.3vh solid var(--border); */
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: max-content;
    margin-left: 1vw;
    margin-right: 1vw;
}

.goto ion-icon {
    margin-left: 1vw;
}

.goto a {
    font-family: "Ubuntu B";
}

.goto:hover {
    transition: 0.2s ease-in;
    border-color: var(--contrast);
    /* background-color: var(--contrast); */
    /* color: white; */
}

.contrast {
    color: var(--contrast);
}

#outline {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1.5em;
    border-radius: 0 1vw 1vw 0;
    color: var(--contrast);
    background-color: white;
    /* min-width: max-content; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    z-index: 1000;
}

#outline a {
    padding-left: 1.5em;
    /* color: white; */
}

#outline .active a {
    color: white;
}

#border {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1em;
    max-width: 1em;
    border-radius: 1vw;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.indicator {
    display: block;
    /* width: 2.5vh; */
    height: 2.5vh;
    /* background-color: white; */
    border: 0.3vh solid var(--border);
    border-radius: 50px;
    margin: 0;
    margin-bottom: 3vh;
    text-align: center;
    padding-right: 1em;
}

.indicator.active {
    background-color: var(--contrast);
    border: 0.3vh solid var(--contrast);
}

/* .indicator:hover {
    transition: 0.2s ease-in;
    background-color: var(--border);
} */

.list {
    flex-direction: column;
}

#outline .list {
    margin-top: 3vh;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: 100%;
    height: 50%;
}

/* #outline ul :hover {
    transition: 0.2s ease-in;
    width: 10em;
} */

#outline:hover {
    transition: 0.2s ease-in;
    width: 10em;
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.35);
}

.section.content {
}

#content {
    /* box-sizing: content-box; */
    /* max-width: 100vw; */
    /* width: 100%; */
    margin-left: 26em;
    /* margin-right: 1em; */
    /* max-width: 85vw; */
    text-wrap: wrap;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}

#about {
    box-sizing: content-box;
    text-wrap: wrap;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    margin-top: 1em;
}

.text {
    line-height: 1.5em;
    margin-bottom: 1em;
}

.header {
    margin-top: 1em;
}

.header ion-icon {
    font-size: 3vh;
}

.header h2 {
    margin-right: 0.5em;
}

.year {
    text-align: center;
    margin-right: 1em;
    /* width: 5em; */
}

.purpose {
    font-family: "Ubuntu B";
    min-width: 14em;
}

.institution {
}

#education p {
    margin: 5px;
    padding: 0;
}

#education li {
    text-align: left;
    margin-bottom: 0.5em;
}

#education {
    position: relative;
    display: block;
}

.keyword {
    padding: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.7em;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    border: 0.2vh solid var(--border);
    background-color: white;
    min-width: max-content;
    box-sizing: content-box;
    text-wrap: wrap;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}

.keyword:hover {
    transition: 0.2s ease-in;
    background-color: var(--highlight-bg);
}

.keyword.contrast {
    margin-left: 0.2em;
    border: 0.2vh solid var(--contrast);
    background-color: var(--contrast);
    color: white;
}

.keyword ion-icon {
    margin-left: 0.3em;
}

.reactive_text {
    /* font-size: 1.5vw; */
}

#i_keywords {
    margin-bottom: 1em;
}

.description {
    /* margin-top: 0.5em; */
    /* margin-bottom: 1em; */
    margin-left: 1.7em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    padding-left: 2.5em;
    border-left: 0.3vh solid var(--border);
}

.description .text {
    font-family: "Ubuntu RI";
}

#experience .highlight {
    font-family: "Ubuntu B";
    box-sizing: content-box;
    text-wrap: wrap;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}

#experience ul {
    list-style-type: circle;
}

#experience p {
    margin: 0;
    padding: 0;
}

#experience .text li {
    margin-top: 0.2em;
}

#h_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#downloads {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.3vh solid var(--border);
}

.logo {
    margin-left: 0.3em;
    font-size: 3vh;
}
